.movieDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.posterContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.poster {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.info {
  flex-grow: 1;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.overview {
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #007bff;
}

.links a:hover {
  text-decoration: underline;
}

.cast {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.castTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.actorImage {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.actorDetails {
  display: flex;
  flex-direction: column;
}

.actorName {
  font-size: 18px;
  margin-bottom: 5px;
}

.actorCharacter {
  margin-bottom: 0;
}

.activeLink {
  font-weight: bold;
}

.reviews {
  margin-top: 20px;
}

.reviewsTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.reviewItem {
  margin-bottom: 10px;
}

.reviewAuthor {
  font-size: 18px;
  margin-bottom: 5px;
}

.reviewContent {
  margin-bottom: 0;
}
