.header {
  background-color: bisque;
  padding: 20px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navList {
  list-style-type: none;
  display: flex;
}

.list {
  margin-right: 10px;
}

.list a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.list a:hover {
  text-decoration: underline;
}

.list.noDecoration a {
  text-decoration: none;
}

.list.noDecoration a:hover {
  text-decoration: none;
}
